.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 2;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-image: url("../../public/background.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: white;
}

.backgroundTop {
    width: 100vw;
    height: 35vh;
    background-color: rgba(8, 12, 68, 0.616);
}

.backgroundBottom {
    width: 100vw;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.5);
}