.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 12, 68);
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: "Poppins", sans-serif;
    gap: 1rem;
}

.container p {
    font-size: 40px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc; 
    border-top: 5px solid #000000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}